@charset "UTF-8"
body {
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;


} h1 { color: blue; background-color: aqua; text-align: center; }


h2 {color: brown;}


p {text-align: justify;}